<h1>Create a new Dog<</h1>

<% if @dog_errors %>
    <% @dog_errors.each do |error|%>
        <p><%= error %></p>
    <% end %>
<% end %>

<%= form_for @dog do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>
    <%= f.label :breed %>
    <%= f.text_field :breed %><br>
    <%= f.label :age %>
    <%= f.text_field :age %><br>
    <%= f.submit %>
<% end %>